workshop<%= form_for @workshop do |f| %>

<ul>
    <% @workshop.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.label :link_to_live_demo %>
  <%= f.text_field :link_to_live_demo %>

  <%= f.label :link_to_github %>
  <%= f.text_field :link_to_github %>

  <%= f.submit (@workshop.new_record? ? "Create" : "Update") %>
<% end %>
