<div class="container">
  <div class="row">
    <h1><%= @workshop.title %></h1>
      <div class="col-sm-4">
        <p>Description: <%= @workshop.description %></p>
        <%= image_tag(@workshop.image, size: "400x300") %>
        <%= video_tag @workshop.link_to_live_demo %>
        <%= link_to @workshop.link_to_github %>
        <%= link_to "Edit", edit_workshop_path(@workshop.id) %>
        <%= link_to "Delete", workshop_path(@workshop.id), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
