<%= render "shared/sidebar" %>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= @event.title %></div>
    <div class="panel-body">
      <p>Location: <%= @event.location %></p>
      <p>Spaces available: <%= @event.spaces_available %></p>
      <p>public: <%= @event.public %></p>
      <p>Date: <%= @event.date %></p>
      <img src=<%= @event.image %> style="width:304px;height:228px;">
    </div>
  </div>
    <%= link_to "Back", admin_events_path, class: "btn btn-default" %>
</div>
