<h1>events</h1>
<img src=<%= @event.image %> style="width:304px;height:228px;">
<p><%= @event.title %></p>
<p>Location: <%= @event.location %></p>
<p>Spaces available: <%= @event.spaces_available %></p>

<%= link_to "[Edit]", edit_admin_event_path(@event) %>
<%= link_to "[Delete]", admin_events_path(@event), method: :destroy, data: { confirm: "Are you sure?" } %>
