<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" class="center-block">
        <h1 class="text-center">Book TOC</h1>
        <h3 class="text-center">Talk to us</h3>
        <div class="container-fluid">
          <div class="row">
            <%= form_for @in_company_request do |f| %>
              <div class="form-group"><%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %></div>
              <div class="form-group"><%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %></div>
              <div class="form-group"><%= f.text_field :company_name, class: "form-control", placeholder: "Company Name" %></div>
              <div class="form-group"><%= f.text_field :email, class: "form-control", placeholder: "Email" %></div>
              <div class="form-group"><%= f.collection_select :workshop_id, Workshop.order(:title), :id, :title, prompt: "Please choose a Workshop", class: "form-control" %></div>
              <div class="form-group"><%= f.text_field :date, data: { behavior: "datepicker" }, class: "form-control", placeholder: "DD-MM-YYYY"  %></div>
              <div class="form-group"><%= f.text_field :spaces_available, class: "form-control", placeholder: "Number of participants" %></div>
              <div class="form-group"><%= f.text_field :comments, class: "form-control", placeholder: "Comments" %></div>
              <div class="text-center"><%= f.submit :Submit, url: in_company_requests_path(@in_company_request), class: 'btn btn-success' %></div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
