<div id="sidebar" class="sidebar-offcanvas">
  <div class="col-md-12">
    <h3>Admin</h3>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to "Workshops", admin_workshops_path, class: "btn btn-default" %></li>
      <li><%= link_to "Incompany Requests", admin_in_company_request_index_path, class: "btn btn-default" %></li>
      <li><%= link_to "Events", admin_events_path, class: "btn btn-default" %></li>
      <li><%= link_to "Sponsors", admin_sponsors_path, class: "btn btn-default" %></li>
      <li><%= link_to "Sponsor Requsts", admin_sponsor_request_index_path, class: "btn btn-default" %></li>
      <li><%= link_to "Review", admin_review_index_path, class: "btn btn-default" %></li>
      <hr>
      <li><%= link_to "Log out", destroy_user_session_path, class: "btn btn-default" %></li>
    </ul>
  </div>
</div
