
<h1 style="text-align:center;">Workshops</h1>
<div class="container marketing">
	<div class="row">
    <% @events.each do |event| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
				<img src=<%= event.image %> style="width:400px;height:228px;">
        <div class="caption">
					<h3><%= event.title %></h3>
					<p>Location: <%= event.location %></p>
		      <p>Spaces available: <%= event.spaces_available %></p>
		      <p>public: <%= event.public %></p>
		      <p>Date: <%= event.date %></p>
        </div>

      </div>
			<script async src="//widgets.nvite.com/1.6/button.js" data-resource="xvgxw4"></script>
    </div>
    <%end%>
  </div>
  </div>

	<hr>
