<%= render 'shared/navbar' %>
<%= render "shared/company_banner" %>
<%= render "shared/upcoming_events" %>
<%= render "shared/what_will_you_learn" %>
<%= render "shared/ready_for_the_day.html" %>
<div class="col-md-3"></div>
<div class="col-md-9"><%= render "shared/videotestimonial" %></div>
<%= render "shared/testimonials" %>
<%= render "shared/newsletter" %>
<%= render "shared/sponsored_by" %>
<%= render "shared/footer" %>
