<div class="container">
  <div class="row">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>"Current Sponsors"</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <% @sponsors.each do |sponsor| %>
            <div class="col-md-7">
              <h4><%= link_to sponsor.company_name, admin_sponsor_url(sponsor) %></h4><hr>
            </div>
            <div class="col-md-3 right">
              <%= link_to "View", admin_sponsor_path(sponsor), class: "btn btn-default" %>
              <%= link_to "Edit", edit_admin_sponsor_path(sponsor), class: "btn btn-default" %>
              <%= link_to "Delete", admin_sponsor_path(sponsor), class: "btn btn-default", :confirm => "Are you sure?", :method => :delete %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>"Add new sponsor"</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <%= link_to "New Sponsor", new_admin_sponsor_url, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
