<%= render "shared/sidebar" %>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3><%= @sponsor.company_name %></h3></div>
    <div class="panel-body">
      <p>Name: <%= @sponsor.company_name %></p>
      <p>Logo: <%= image_tag(@sponsor.logo) %></p>
    </div>
  </div>
    <%= link_to "Back", admin_sponsors_path, class: "btn btn-default" %>
</div>
