<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" class="center-block">
      <%= form_for ([:admin, @in_company_request]) do |f| %>
        <div class="form-group"><%= f.text_field :first_name, class: "form-control" %></div>
        <div class="form-group"><%= f.text_field :last_name, class: "form-control" %></div>
        <div class="form-group"><%= f.text_field :company_name, class: "form-control" %></div>
        <div class="form-group"><%= f.text_field :email, class: "form-control" %></div>
        <div class="form-group"><%= f.collection_select :workshop_id, Workshop.order(:title), :id, :title, class: "form-control" %></div>
        <div class="form-group"><%= f.text_field :date, data: { behavior: "datepicker" }, class: "form-control"  %></div>
        <div class="form-group"><%= f.text_field :spaces_available, class: "form-control" %></div>
        <div class="form-group"><%= f.text_field :comments, class: "form-control" %></div>
        <div class="text-center"><%= f.submit "Save", class: 'btn btn-success' %></div>
      <% end %>
    </div>
  </div>
</div>
