<%= render "shared/sidebar" %>
<div class="container">
  <div class="row">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>In-Company Requests</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <% @in_company_requests.each do |in_company_request| %>
              <div class="col-md-4">
                <h4><%= in_company_request.company_name %></h4>
              </div>
              <div class="col-md-4">
                <h4><%= in_company_request.email %></h4>
              </div>
              <div class="col-md-4">
                <h4>
                  <%= link_to "View", admin_in_company_request_path(in_company_request), class: "btn btn-default" %>
                  <%= link_to "Edit", edit_admin_in_company_request_path(in_company_request), class: "btn btn-default" %>
                  <%= link_to "Delete", admin_in_company_request_path(in_company_request), class: "btn btn-default", :confirm => "Are you sure?", :method => :delete %>
                </h4>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
